.course-link{
    text-decoration:none;
    color:black;
}

.course-card{

    width:340px;
    min-height:270px;

    background:white;

    border-radius:16px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

    display:flex;
    flex-direction:column;

    box-sizing:border-box;

}

.course-card:hover{

    transform:translateY(-6px);

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.course-top{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:15px;

}

.course-top h2{

    margin:0;

    font-size:24px;

    font-weight:700;

    line-height:1.25;

    flex:1;

}

.arrow{

    font-size:32px;

    flex-shrink:0;

    color:#0f172a;

}

.course-card p{

    margin-top:auto;

    color:#666;

    font-size:18px;

    border-top:1px solid #eee;

    padding-top:18px;

}

@media(max-width:768px){

.course-card{

    width:100%;
    height:auto;
    min-height:220px;

}

.course-top h2{

    font-size:20px;

}

.arrow{

    font-size:28px;

}

.course-card p{

    font-size:16px;

}

}